.nav-desktop {
    width: 100%;
    height: 7.2rem;
    position: relative;
    z-index: 99;
    color: #FFFFFF;
    box-shadow: 0 1px 8px 0 #bdbdbd;

    font-size: 2rem;
    font-weight: 500;
    background: linear-gradient(
        262deg
        , #ff7854, #fd267d);

    .row {
        padding: 0 2rem;
        height: 100%;
        align-items: center;
    }

    &__img {
        margin-right: 1rem;
        position: relative;
        align-items: center;
        transition: all .5s;
        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .btn {
        cursor: pointer;
    }

    .btn-back {
       display: none;
    }



    // .ishow {
    //     width: auto;
    //     visibility: unset;
    //     margin-right: 6rem;
    // }

}


