* {
    margin: 0;
    padding: 0;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5% !important;
  }

  body,
  button,
  input,
  textarea {
    font-family: 'Open Sans', sans-serif;
  }

  body {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
  }

.d-flex {
    display: flex;
}

