.row.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    .col.left {
        flex-basis: 25%;
        background-color: #FFFFFF;
        border-right: 1px solid #dddddd;
        position: relative;
        z-index: 99;
    }

    .col.right {
        flex-basis: 75%;
        background-color: #F5F7FA;
    }
}